#Browser type
browser=chrome

#Manheim home/area page
homePageURL=https://www.manheim.com/

#Email details
email=umstestbot@gmail.com
username=umstestbot
password=UMSTester

#Email specifications
recipients=sean.gadimoff@gmail.com,alnam7@aol.com
emailLimit=100

#Vehicle year criteria
youngerThan=2010
olderThan=2017

#Vehicle odometer criteria
lowerThan=150000