#Browser type
browser=chrome

#Manheim home/area page
homePageURL=https://www.manheim.com/

#Email details
email=umstestbot@gmail.com
username=umstestbot
password=UMSTester

#Email content specifications
recipients=sean.gadimoff@gmail.com,sgadimov@gmail.com
emailLimit=2

#Vehicle year criteria
youngerThan=2010