#Browser type
browser=chromeHeadless

#Manheim home/area page
homePageURL=https://www.manheim.com/

#Email details
email=umstestbot@gmail.com
username=umstestbot
password=UMSTester

#Email specifications
recipients=sean.gadimoff@gmail.com
emailLimit=20000
emailToBeSent=false

#Vehicle year criteria
youngerThan=2010
olderThan=2019

#Vehicle odometer criteria
lowerThan=150000

#DB configurations
db_schema=manheim_crawler